# Ignore Firebase config file
FROC5/froc5-cc696-firebase-adminsdk-yu5v0-29ca05333c.json

# Ignore Xcode specific files
*.xcuserdata/
*.xcworkspace/

# Ignore build output directories
build/
DerivedData/
